--indent 2
--indentcase true
--tabwidth 2
--indentstrings false
--smarttabs disabled

--disable acronyms
--disable andOperator
--disable anyObjectProtocol
--disable assertionFailures
--disable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--disable blankLinesAtStartOfScope
--disable blankLinesBetweenImports
--disable blankLinesBetweenScopes
--disable blockComments
--disable braces
--disable consecutiveBlankLines
--disable consecutiveSpaces
--disable duplicateImports
--disable elseOnSameLine
--disable emptyBraces
--disable enumNamespaces
--disable extensionAccessControl
--disable fileHeader
--disable hoistPatternLet
--disable initCoderUnavailable
--disable isEmpty
--disable leadingDelimiters
--disable linebreakAtEndOfFile
--disable linebreaks
--disable markTypes
--disable modifierOrder
--disable numberFormatting
--disable organizeDeclarations
--disable preferKeyPath
--disable redundantBackticks
--disable redundantBreak
--disable redundantClosure
--disable redundantExtensionACL
--disable redundantFileprivate
--disable redundantGet
--disable redundantInit
--disable redundantLet
--disable redundantLetError
--disable redundantNilInit
--disable redundantObjc
--disable redundantParens
--disable redundantPattern
--disable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable redundantType
--disable redundantVoidReturnType
--disable semicolons
--disable sortedImports
--disable sortedSwitchCases
--disable spaceAroundBraces
--disable spaceAroundBrackets
--disable spaceAroundComments
--disable spaceAroundGenerics
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable spaceInsideComments
--disable spaceInsideGenerics
--disable spaceInsideParens
--disable specifiers
--disable strongOutlets
--disable strongifiedSelf
--disable todos
--disable trailingClosures
--disable trailingCommas
--disable trailingSpace
--disable typeSugar
--disable unusedArguments
--disable void
--disable wrap
--disable wrapArguments
--disable wrapAttributes
--disable wrapConditionalBodies
--disable wrapEnumCases
--disable wrapMultilineStatementBraces
--disable wrapSwitchCases
--disable yodaConditions
